.x-panel-body h1 	{ margin: 5px 0 10px 0; }
.x-panel-body h2 	{ margin: 5px 0 10px 0; }
.x-panel-body h3 	{ margin: 5px 0 10px 0; }
.x-panel-body h4 	{ margin: 5px 0 10px 0; }
.x-panel-body p 	{ margin: 5px 0 5px 0; }
.x-panel-body ul { 
	margin: 5px 0 5px 0; 
	padding: 5px 0 5px 25px;
}
.x-panel-body ul li {
	list-style-type: disc;
	padding: 3px 2px;
}
.x-panel-body ol { 
	margin: 5px 0 5px 0; 
	padding: 5px 0 5px 25px;
}
.x-panel-body ol li {
	list-style: decimal;
	padding: 3px 2px;
}

.ind-grid .x-grid-cell { 
    font-size: 20px;
}